{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<h2>Omat tietosi ystäväpalvelussa</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{kayttaja.kayttajatunnus}}</h3>
        <ul>
            <li><strong>Sukupuoli: </strong>{{kayttaja.sukupuoli}}</li>
            <li><strong>Syntymäaika: </strong>{{kayttaja.syntymaaika}}</li>
            <li><strong>Paikkakunta: </strong>{{kayttaja.paikkakunta}}</li>
            <li><strong>Haettu sukupuoli: </strong>{{kayttaja.haettu_sukupuoli}}</li>
            <li><strong>Haettu ikäryhmä: </strong> syntymävuodet {{kayttaja.haettu_ika_min}} - {{kayttaja.haettu_ika_max}}</li>



        </ul>


    </div>
    <div class="panel-body">
        {{kayttaja.esittelyteksti}}
    </div>
</div>


<p>
    <a href="{{base_path}}/yllapitajan_kayttajalistaus" class="btn btn-primary">Takaisin</a>


{% endblock %}
