{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<h3>Luomasi esittelysivut:</h3>

<table class="table table-striped table-bordered">
    <thead>
    <th>Sivu</th>
    <th>Otsikko</th>
    <th>Salainen</th>
    <th>Muokkaa</th>

</thead>
<tbody>
    {% for sivu in sivut %}
    <tr>
        <td>{{loop.index}}</td>

        <td>{{sivu.otsikko}}</td>

        <td>
            {% if not sivu.salainen %}<label class="label label-success">Julkinen</label>{% endif %}
            {% if sivu.salainen %}<label class="label label-danger">Salainen</label>{% endif %}
        </td>

        <td><a class="btn btn-default btn-sm" href="{{base_path}}/esittelysivun_muokkaus/{{sivu.sivuid}}">Muokkaa</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<p>
    <a href="{{base_path}}/luo_uusi_sivu" class="btn btn-primary">Luo uusi sivu</a>
</p>

{% endblock %}
