{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<!--<h2>Käyttäjä: </h2>-->

<h3>Saapuneet viestit:</h3>

<table class="table table-striped table-bordered">
    <thead>
    <th>Lähettäjä</th>
    <th>Sisältö</th>
    <th>Lähetysaika</th>
    <th>Luettu</th>
    <th></th>

</thead>
<tbody>
    {% for viesti in viestit %}


    <tr>
        <td><a href="{{base_path}}/esittely/{{viesti.lahettaja}}">{{viesti.lahettaja}}</a></td>
        <td>{{viesti.sisalto}}</td>
        <td>{{viesti.aikaleima}}</td>
        <td>
            {% if not viesti.luettu %}<label class="label label-primary">Lukematon</label>{% endif %}
            {% if viesti.luettu %}<label class="label label-default">Luettu</label>{% endif %}
        </td>
        <td><a class="btn btn-default btn-sm" href="{{base_path}}/viesti/{{viesti.viestiid}}">Näytä</a></td>

      
    </tr>

    {% endfor %}
</tbody>
</table>
<p>
    <a href="{{base_path}}/kayttajatiedot" class="btn btn-primary">Näytä käyttäjätiedot</a>
</p>



{% endblock %}