{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<h3>Muokkaa viestiä käyttäjälle {{kohde.nimimerkki}}</h3>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/viestin_paivitys">
    
<!--    <div class="radio">
            <label><input type="radio" name="lahettaja" checked>näytä viestin lähettäjä</label>
    </div>-->
<!--    <div class="radio">
            <label><input type="radio" name="lahettaja">lähetä viesti anonyymisti</label>
    </div>-->
        
<input type="hidden" name="viestiid" value="{{viesti.viestiid}}">
<input type="hidden" name="vastaanottaja" value="{{kohde.asiakasid}}">
   
    <div class="form-group">
        <label for="kuvaus">Viesti:</label>
        <textarea class="form-control" name="sisalto">{{viesti.sisalto}}</textarea>
    </div>


    <div class="form-group">
        <button type="submit" name="action" class="btn btn-primary" value="paivita">Päivitä viesti</button>
    </div>
    <div class="form-group">
        <button type="submit" name="action" class="btn btn-primary" value="poista">Poista viesti</button>
    </div>
</form>
{% endblock %}
