{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<h2>Käyttäjäprofiili: Pelimies</h2>

<ul>
    <li><strong>Sukupuoli: </strong>mies</li>
    <li><strong>Ikä: </strong>27</li>
    <li><strong>Paikkakunta: </strong>Helsinki</li>
    <li><strong>Sukupuoli: </strong>mies</li>
</ul>
<h3>Kuvaus</h3>
<p>
    Olen iloinen ja reipas tietojenkäsittelytieteen maisteriopiskelija.
    Pidän kovasti tietokonepeleistä ja energiajuomista.
</p>
<p>
<button class="btn btn-primary">Lähetä viesti tälle käyttäjälle</button>
</p>
{% endblock %}
