{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>
<div class="alert alert-success">
    {{message}}
</div>
<p>
    Tervetuloa käyttämään Ystäväpalvelua! Palvelun avulla
    voit etsiä uusia ystäviä palvelun käyttäjistä. Palvelun
    käyttö edellyttää rekisteröitymistä käyttäjäksi.
</p>
<p>Jos olet jo rekisteröitynyt käyttäjäksi, kirjaudu sisään
käyttääksesi palvelua.
<button class="btn btn-primary">Kirjaudu sisään</button>
</p>

<p>Jos olet uusi käyttäjä, ole hyvä ja rekisteröidy palvelun
    käyttäjäksi.
    <button class="btn btn-primary">Rekisteröidy käyttäjäksi</button>
</p>
    

{% endblock %}
