{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<p>
    Tervetuloa käyttämään Ystäväpalvelua! Palvelun avulla
    voit etsiä uusia ystäviä palvelun käyttäjistä. Palvelun
    käyttö edellyttää rekisteröitymistä käyttäjäksi.
</p>
<p>Jos olet jo rekisteröitynyt käyttäjäksi, kirjaudu sisään
käyttääksesi palvelua.
</p>

{% if error %}
<div class="alert alert-danger">
    <ul>

        <li>{{error}}</li>

    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/">
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input class="form-control" name="kayttajatunnus" value="{{kayttajatunnus}}" type="text">
        
    </div>
    <div class="form-group">
        <label>Salasana</label>
        <input class="form-control" name="salasana" type="password">
        
    </div>
        
   
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
    </div>
</form>

<p>Jos olet uusi käyttäjä, ole hyvä ja rekisteröidy palvelun
    käyttäjäksi.
    <a href="{{base_path}}/rekisteroityminen" class="btn btn-primary">Rekisteröidy käyttäjäksi</a>
</p>
    

{% endblock %}
