{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<h2>Käyttäjä: {{kayttaja.kayttajatunnus}}</h2>

<ul>
    <li><strong>Sukupuoli: </strong>{{kayttaja.sukupuoli}}</li>
    <li><strong>Syntymäaika: </strong>{{kayttaja.syntymaaika}}</li>
    <li><strong>Paikkakunta: </strong>{{kayttaja.paikkakunta}}</li>
</ul>
<h3>Kuvaus</h3>
<p>
    {{kayttaja.esittelyteksti}}
</p>
{% if user_logged_in %}
<p><a href="{{base_path}}/hakutulokset" class="btn btn-primary">Näytä hakutulokset</a>
</p>
<p><a href="{{base_path}}/saapuneet_viestit" class="btn btn-primary">Näytä saapuneet viestit</a>
</p>
<p><a href="{{base_path}}/lahetetyt_viestit" class="btn btn-primary">Näytä lahetetyt viestit</a>
</p>
<p>
    <a href="{{base_path}}/kayttajan_sivut" class="btn btn-primary">Näytä esittelysivut</a>
</p>
{% endif %}

{% endblock %}

