{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<h2>Käyttäjä: </h2>

<h3>Lähetetyt viestit:</h3>

<table class="table table-striped table-bordered">
    <thead>
    <th>Vastaanottaja</th>
    <th>Sisältö</th>
    <th>Lähetysaika</th>
    <th>Luettu</th>
    <th>Muokkaus</th>

</thead>
<tbody>
    {% for viesti in viestit %}
    {% for vastaanottaja in kayttajat %}
    {% if vastaanottaja.asiakasid==viesti.vastaanottaja %}
    {% for lahettaja in kayttajat %}
    {% if lahettaja.asiakasid==viesti.lahettaja %}

    <tr>
        <td><a href="{{base_path}}/esittely/{{vastaanottaja.nimimerkki}}">{{vastaanottaja.nimimerkki}}</a></td>
        <td>{{viesti.sisalto}}</td>
        <td>{{viesti.aikaleima}}</td>
        <td>
            {% if not viesti.luettu %}<label class="label label-primary">Lukematon</label>{% endif %}
            {% if viesti.luettu %}<label class="label label-default">Luettu</label>{% endif %}
        </td>
        <td><a class="btn btn-default btn-sm" href="{{base_path}}/viestin_muokkaus/{{viesti.viestiid}}">Muokkaa</a></td>

        <!--        <td><a class="btn btn-default btn-sm" href="{{base_path}}/kayttaja/{{asiakas.kayttajatunnus}}">Näytä</a></td>
                <td><a class="btn btn-default btn-sm" href="#">Laskutustiedot</a></td>
                <td><a class="btn btn-default btn-sm" href="{{base_path}}/yllapitajan_muokkausnakyma/{{asiakas.kayttajatunnus}}">Muokkaa/Poista</a></td>-->
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endfor %}
</tbody>
</table>
<p>
    <a href="{{base_path}}/kayttajatiedot" class="btn btn-primary">Näytä käyttäjätiedot</a>
</p>



{% endblock %}
