{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<h2>Rekisteröityminen</h2>

<p>Rekisteröidy ystäväpalvelun käyttäjäksi antamalla seuraavat tiedot. Näitä
    tietoja ei näytetä muille palvelun käyttäjille.</p>

<form method="post" action="{{base_path}}/rekisteroityminen">
    <div class="form-group">
        <label>Käyttäjätunnus, jota haluat käyttää palveluun kirjautumisessa</label>
        <input name="kayttajatunnus" class="form-control" value="" type="text">
        
    </div>
    
        <div class="form-group">
        <label>Salasana, jota haluat käyttää palveluun kirjautumisessa.</label>
        <input name="salasana" class="form-control" value="" type="text">
        
        
    </div>
            <div class="form-group">
        <label>Nimimerkki, jota haluat käyttää palvelussa.</label>
        <input name="nimimerkki" class="form-control" value="" type="text">
        
        
    </div>
            <div class="form-group">
        <label>Etunimi</label>
        <input name="etunimi" class="form-control" value="" type="text">
        
        
    </div>
            <div class="form-group">
        <label>Sukunimi</label>
        <input name="sukunimi" class="form-control" value="" type="text">
        
        
    </div>
        <div class="form-group">
        <label>Syntymäaika YYYY-MM-DD</label>
        <input name="syntymaaika" class="form-control" type="text">
        
    </div>
    <div class="radio">
            <label><input type="radio" name="sukupuoli" value="M" checked>mies</label>
    </div>
    <div class="radio">
            <label><input type="radio" name="sukupuoli" value="N">nainen</label>
    </div>
        
    <div class="form-group">
        <label>Katuosoite</label>
        <input name="katuosoite" class="form-control" value="" type="text">
        
        
    </div>
            <div class="form-group">
        <label>Postinumero</label>
        <input name="postinumero" class="form-control" value="" type="text">
        
        
    </div>
        <div class="form-group">
        <label>Paikkakunta</label>
        <input name="paikkakunta" class="form-control" value="" type="text">
        
    </div>
    


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>



{% endblock %}
