{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<h2>Rekisteröityminen</h2>

<p>Rekisteröidy ystäväpalvelun käyttäjäksi antamalla seuraavat tiedot. Näitä
    tietoja ei näytetä muille palvelun käyttäjille.</p>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/rekisteroityminen">
    <div class="form-group">
        <label>Käyttäjätunnus, jota haluat käyttää palveluun kirjautumisessa</label>
        <input name="kayttajatunnus" class="form-control" value="{{attributes.kayttajatunnus}}" type="text">
        
    </div>
    
        <div class="form-group">
        <label>Salasana, jota haluat käyttää palveluun kirjautumisessa.</label>
        <input name="salasana" class="form-control" value="{{attributes.salasana}}" type="text">
        
        
    </div>
            <div class="form-group">
        <label>Nimimerkki, jota haluat käyttää palvelussa.</label>
        <input name="nimimerkki" class="form-control" value="{{attributes.nimimerkki}}" type="text">
        
        
    </div>
            <div class="form-group">
        <label>Etunimi</label>
        <input name="etunimi" class="form-control" value="{{attributes.etunimi}}" type="text">
        
        
    </div>
            <div class="form-group">
        <label>Sukunimi</label>
        <input name="sukunimi" class="form-control" value="{{attributes.sukunimi}}" type="text">
        
        
    </div>
        <div class="form-group">
        <label>Syntymäaika YYYY-MM-DD</label>
        <input name="syntymaaika" class="form-control" type="text" value="{{attributes.syntymaaika}}">
        
    </div>
    <div class="radio">
            <label><input type="radio" name="sukupuoli" value="M" checked>mies</label>
    </div>
    <div class="radio">
            <label><input type="radio" name="sukupuoli" value="F">nainen</label>
    </div>
        
    <div class="form-group">
        <label>Katuosoite</label>
        <input name="katuosoite" class="form-control" value="{{attributes.katuosoite}}" type="text">
        
        
    </div>
            <div class="form-group">
        <label>Postinumero</label>
        <input name="postinumero" class="form-control" value="{{attributes.postinumero}}" type="text">
        
        
    </div>
        <div class="form-group">
        <label>Paikkakunta</label>
        <input name="paikkakunta" class="form-control" value="{{attributes.paikkakunta}}" type="text">
        
    </div>
    
<!--       
        <div class="form-group">
        <label>Haettu ikä (min)</label>
        <input name="haettu_ika_min" class="form-control" value="{{attributes.haettu_ika_min}}" type="text">
        
    </div>
        
         
        <div class="form-group">
        <label>Haettu ika (max)</label>
        <input name="haettu_ika_max" class="form-control" value="{{attributes.haettu_ika_max}}" type="text">
        
    </div>
            
      
        <div class="form-group">
        <label>Haettu Sukupuoli M/F</label>
        <input name="paikkakunta" class="form-control" value="{{attributes.paikkakunta}}" type="text">
        
    </div>
                
                    
        <div class="form-group">
        <label>Paikkakunta</label>
        <input name="paikkakunta" class="form-control" value="{{attributes.paikkakunta}}" type="text">
        
    </div>-->
    


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>



{% endblock %}
