{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<h2>Käyttäjäprofiili: Pelimies</h2>

<h3>Hakuehtoihisi sopivat käyttäjät</h3>

<table class="table table-striped table-bordered">
    <thead>
    <th>Nimimerkki</th>
    <th>Ikä</th>
    <th>Sukupuoli</th>
    <th>Paikkakunta</th>
    <th>Profiili</th>
    <th>Viesti</th>
    </thead>
    <tbody>
        <tr>
            <td>Barbie</td>
            <td>24</td>
            <td>F</td>
            <td>Helsinki</td>
            <td><a class="btn btn-default btn-sm" href="#">Katso profiili</a></td>
            <td><a class="btn btn-default btn-sm" href="#">Lähetä viesti</a></td>
        </tr>
    </tbody>
</table>



{% endblock %}