{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<h2>Käyttäjäprofiili: Pelimies</h2>

<h3>Sinulle saapuneet viestit:</h3>

<table class="table table-striped table-bordered">
    <thead>
    <th>Lähettäjä</th>
    <th>Viesti</th>
    <th>Vastaaminen</th>

    </thead>
    <tbody>
        <tr>
            <td>Barbie <a class="btn btn-default btn-sm" href="#">Katso profiili</a></td>

            <td>Hei, keskiviikko ei käy, miten olis torstai?</td>
            
            <td><a class="btn btn-default btn-sm" href="#">Vastaa viestiin</a></td>
        </tr>
    </tbody>
</table>



{% endblock %}
