{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<h2>Käyttäjäprofiili: Pelimies</h2>

<h3>Viesti käyttäjälle Barbie</h3>

<form>
    <div class="radio">
            <label><input type="radio" name="lahettaja" checked>näytä viestin lähettäjä</label>
    </div>
    <div class="radio">
            <label><input type="radio" name="lahettaja">lähetä viesti anonyymisti</label>
    </div>
        
    
   
    <div class="form-group">
        <label for="kuvaus">Viestin sisältö:</label>
        <textarea class="form-control" rows="5" id="kuvaus"></textarea>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lähetä</button>
    </div>
</form>



{% endblock %}
