{% extends "base.html" %}
{% block content %}

<h1>Ystäväpalvelu</h1>

<h2>Ylläpitäjä: admin</h2>

<h3>Ystäväpalvelun käyttäjät:</h3>

<table class="table table-striped table-bordered">
    <thead>
    <th>Kayttajatunnus</th>
    <th>Nimi</th>
    <th>Katuosoite</th>
    <th>Postinumero</th>
    <th>Paikkakunta</th>
    <th>Laskutus</th>
    </thead>
    <tbody>
        {% for asiakas in asiakkaat %}
        <tr>
            <td>{{asiakas.kayttajatunnus}}</td>
            <td>{{asiakas.etunimi}} {{asiakas.sukunimi}}</td>
            <td>{{asiakas.katuosoite}}</td>
            <td>{{asiakas.postinumero}}</td>
            <td>{{asiakas.paikkakunta}}</td>
            <td><a class="btn btn-default btn-sm" href="#">Laskutustiedot</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}
